<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="productDAO" class="fr.johanet.struts2showcase.dao.ProductDAOImpl" scope="prototype"/>
	
	<bean id="productService" class="fr.johanet.struts2showcase.service.ProductServiceImpl" scope="prototype">
		<property name="productDAO"><ref bean="productDAO"/></property>	
	</bean>

</beans>